.y-thead{
    background-color: #f7f7f7;
    color:rgba(0,0,0,.85);
    min-height: 30px;
    line-height: 30px;
}

.y-thead th{
    font-weight: 500px !important;
}
.y-table{
    border-spacing: 0px;
    width:100%;
    border-radius: 5px 5px 0 0;
}

.y-tbody tr{
    min-height: 30px;
    line-height: 30px;
    background: white;
    border-bottom:1px solid #e9e9e9;
    transition: all .3s;
}

.y-tbody tr td{
    text-align: center;
}

.y-tbody tr:hover{
    background: #eaf1f7;
}